@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  background-color: #181817;
  color: #e5e5e1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
}

#archive-filter {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #b0b0a6;
}

.error {
  text-align: center;
  margin-top: 3rem;
}