.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;
}

.header .logo a,
.header .logo a:hover {
  color: #e1e1d7;
  text-decoration: none;
}

.header ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;
}

.header .logo a,
.header .logo a:hover {
  color: #e1e1d7;
  text-decoration: none;
}

.header ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

.header ul a {
  text-decoration: none;
  color: #e5e5e1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.header ul a:hover,
.header ul a.active {
  background-color: #bcbcb7;
  color: .181817;
}

.header ul a:hover,
.header ul a.active {
  background-color: #bcbcb7;
  color: .181817;
}
